@media (max-width:800px) { /* 모바일용 */
  .pc {
    display: none !important;
  }

  .main {
    position: relative;
  }

  .mob_menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #edfaff;
    transition: 0.3s ease-in-out;
    z-index: 100000;
    top: 0;
    right: -100%;
    overflow: scroll;
  }

  .mob_menu_hd {
    height: 50px;
    background-color: #fff;
    padding: 0 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mob_menu_hd > h1 > a > img {
    width: 70px;
  }

  .mob_menu_hd > button {
    border: none;
    background: none;
    padding: 0;
  }

  .mob_menu_hd > button > img {
    width: 17px;
  }

  .mob_menu_list {
    padding: 45px 5% 0 5%;
  }

  .mob_menu_list > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #cdd7e7;
  }

  .mob_menu_list > li:last-of-type > a {
    color: #fb274f;
  }

  .mob_menu_list > li > a > span {
    display: block;
    font-size: 21px;
    font-weight: bold;
  }

  .mob_menu_list > li > a > span.mmls_active {
    color: #3b76dc;
  }

  .mob_menu_list > li > a > button {
    border: none;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .mss {
    display: block;
  }

  .mss.mss_active {
    display: none;
  }

  .msa {
    display: none;
  }

  .msa.msa_active {
    display: block;
  }

  .mob_sub_list {
    padding-top: 40px;
    display: none;
    border-bottom: 1px solid #cdd7e7;
  }

  .mob_sub_list > li {
    padding: 0 0 25px 5%;
  }

  .mob_sub_list > li > a {
    display: block;
    font-size: 16px;
    color: #a7a7a7;
  }

  #mob_sub_list1 > li:nth-of-type(6) > a {
    color: #000c7d;
  }

  header {
    height: 50px;
  }
  
  .header_fix {
    height: 50px;
  }
  
  .hd_container {
    width: 100%;
    height: 50px;
    padding: 0 5%;
    box-sizing: border-box;
    justify-content: space-between;
  }
  
  .hd_container > h1 {
    margin: 0;
    height: 50px;
    display: flex;
    align-items: center;
  } 

  .hd_container > h1 > a > img {
    width: 65px;
  }

  .m_menu_box {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .m_search {
    width: 18px;
    height: 18px;
  }

  .m_menu_box > button {
    cursor: pointer;
    border: 0;
    background: none;
    padding: 0;
  }

  .m_menu {
    width: 36px;
    height: 36px;
    margin-left: 10px;
  }

  #page_visual {
    background: url("../images/m_page_visual.jpeg") no-repeat center/cover;
    width: 100%;
    height: 180px;
  }
  
  .page_visual_container {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .page_visual_txt {
    padding: 0;
  }
  
  .page_visual_txt > h2 {
    font-size: 26px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .page_visual_txt > p {
    font-size: 13px;
    color: #676f7d;
    line-height: 1.5;
    text-align: center;
  }
  
  .page_nav_container {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    height: 60px;
    border-bottom: 1px solid #ebebeb;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 10000;
  }

  .page_nav_container.pnc_fix {
    position: fixed;
    top: 51px;
    left: 0;
  }

  /* .page_nav_container -> swiper */
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    width: auto;
    display: flex;
  }

  .swiper-slide > a {
    font-size: 16px;
    display: block;
    color: #a7a7a7;
    padding: 21.5px 0 18.5px 0;
    border-bottom: 3px solid transparent;
    font-weight: bold;
  }

  .swiper-slide > a.mpn_active {
    border-bottom: 3px solid #3b76dc;
    color: #3b76dc;
  }
  /* .page_nav_container -> swiper */

  
  .cg_contents {
    display: none;
  }
  
  .cg_contents_active {
    display: block;
  }
  
  .map_container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  
  .map_tit {
    margin: 40px 0 80px 0;
  }
  
  .map_tit > h2 {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
    line-height: 1.3;
    text-align: center;
  }
  
  .map_search {
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    box-sizing: border-box;
  }
  
  .map_select {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    flex-direction: column;

  }
  
  .map_select > li:not(:last-of-type) {
    margin: 0 0 10px 0;
    position: relative;
  }
  
  .map_select > li {
    width: 100%;
  }

  #area {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #d8d8d8;
    padding: 0 20px 0 20px;
    font-size: 14px;
    appearance: none;
  }
  
  #all {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #d8d8d8;
    padding: 0 0px 0 20px;
    font-size: 14px;
    appearance: none;
  }
  
  .si1 {
    position: absolute;
    right: 15px;
    top: calc(50% - 4px);
  }
  
  .si2 {
    position: absolute;
    right: 15px;
    top: calc(50% - 4px);
  }
  
  #msi > input {
    width: 100%;
    height: 50px;
    border: 1px solid #d8d8d8;
    padding-left: 20px;
    box-sizing: border-box;
  }
  
  #msi > input[type = "search"]::placeholder {
    font-size: 12px;
    color: #adadad;
  }
  
  #msi > input[type = "search"]:focus::placeholder {
    color: transparent;
  }
  
  .map_select > li > button {
    padding: 0;
    border: none;
    width: 100%;
    height: 50px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .map_tb_img_container {
    width: 100%;
    display: flex;
    padding-top: 50px;
  }
  
  .map_table_container {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
  }
  
  .map_table {
    width: 100%;
  }
  
  .map_table_box {
    width: 100%;
    display: none;
  }
  
  .map_table_box_active {
    display: table;
  }
  
  thead {
    border-top: 1px solid #333;
    border-bottom: 1px solid #d8d8d8;
  }
  
  .th_line {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 10px 0;
  }
  
  .thstore {
    width: 20%;
    font-size: 12px;
    padding: 0 5px;
    box-sizing: border-box;
  }
  
  .thaddr {
    width: 60%;
    font-size: 12px;
    padding: 0 5px;
    box-sizing: border-box;
  }
  
  .thcall {
    width: 20%;
    font-size: 12px;
    padding: 0 5px;
    box-sizing: border-box;
  }
  
  .thmore {
    width: 0;
    display: none;
  }
  
  .tb_contents_line {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid #d8d8d8;
    box-sizing: border-box;
  }
  
  .tb_contents_line:hover {
    background-color: #eee;
  }
  
  .tb_contents_line:hover > td.tdmore > img {
    filter: invert(66%) sepia(94%) saturate(5310%) hue-rotate(204deg) brightness(91%) contrast(88%);
  }
  
  .tdstore {
    width: 20%;
    font-size: 12px;
    padding: 0 5px;
    box-sizing: border-box;
  }
  
  .tdaddr {
    width: 60%;
    line-height: 1.4;
    font-size: 12px;
    padding: 0 5px;
    box-sizing: border-box;
  }
  
  .tdcall {
    width: 20%;
    font-size: 12px;
    color: #6c6d70;
    padding: 0 5px;
    box-sizing: border-box;
  }
  
  .tdmore {
    width: 0;
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .map_table_page_container {
    margin-top: 60px;
  }
  
  .map_table_page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .mtp_fp {
    margin: 0 10px 0 10px;
    position: relative;
    top: 1px;
  }
  
  .mtp_prev {
    margin: 0 10px 0 10px;
    position: relative;
    top: 1px;
  }
  
  .map_table_num {
    display: flex;
  }
  
  .map_table_num > li > a {
    margin: 0 10px;
    display: block;
    color: #a7a7a7;
    font-size: 14px;
  }
  
  .map_table_num > li > a.mtp_select {
    color: #333;
  }
  
  .mtp_next {
    margin: 0 10px 0 10px;
    position: relative;
    top: 1px;
  }
  
  .mtp_lp {
    margin: 0 10px 0 10px;
    position: relative;
    top: 1px;
  }
  
  .map_mapimg {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
  }
  
  .map_mapimg > img {
    width: 308px;
    height: 532px;
  }
  
  .cg_contents_container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cg_tit {
    margin: 40px 0 80px 0;
  }
  
  .cg_tit > h2 {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding: 0 5%;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.3;
  }
  
  .cg_wait_container {
    width: 100%;
    height: 300px;
    background-color: #f1f1f1;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    box-sizing: border-box;
  }
  
  .cg_wait_container > h2 {
    font-weight: bold;
    font-size: 24px;
  }
 
  .top_btn {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 100%;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10000;
  }
  
  .top_btn > img {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(294deg) brightness(108%) contrast(101%);
  }
  
  .top_btn > span {
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .top_btn.stop {
    position: absolute;
    bottom: -100px;
    right: 20px;
  }
  
  footer {
    background-color: #0c2340;
    margin-top: 120px;
  }
  
  .m_footer_container {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
  }
  
  .mfc_top {
    display: flex;
    border-bottom: 1px solid #213650;
  }

  .mfc_top > li {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mfc_top > li > a {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15% 0;
  }

  .mfc_top > li > a > img {
    width: 100%;
  }

  .mfc_bot_logo {
    width: 50px;
    padding: 25px 0;
  }

  .mfc_bot_logo > img {
    width: 100%;
  }

  address > ul {
    font-size: 11px;
    color: #b0b0b0;
  }

  address > ul > li:nth-of-type(1){
    display: flex;
  }

  address > ul > li:nth-of-type(1) > span:after {
    width: 1px;
    height: 10px;
    content: "";
    display: inline-block;
    background-color: #3e4362;
    vertical-align: middle;
    margin: 0 5px;
  }

  address > ul > li:nth-of-type(1) > span:last-of-type:after {
    display: none;
  }

  address > ul > li:nth-of-type(2) > span:after {
    display: none !important; 
  }

  address > ul > li:nth-of-type(2) {
    flex-wrap: wrap;
  }

  address > ul > li:nth-of-type(2) > span {
    display: block;
    width: 50%;
  }

  address > ul > li:nth-of-type(2) > span:nth-of-type(3) {
    margin-top: 5px;
  }

  .mfc_sns {
    display: flex;
    padding: 30px 0 45px 0;
  }

  .mfc_sns > li {
    margin: 0 15px;
  }

  .mfc_sns > li:nth-of-type(1) {
    margin-left: 0;
  }

  .mfc_sns > li:nth-of-type(6) {
    margin-right: 0;
  }

  .mfc_sns > li > a > img {
    opacity: 0.6;
  }
  
}

@media (min-width:801px) { /* PC용 */
  .mob {
    display: none !important;
  }
}  